<html lang="en">
    {% extends "layout.html" %}
    <head>
        <title>About the Creators</title>
    </head>
    <body>
        {% block content %}
        <main>
            <div id="welcome">
                <h1>About</h1>
                <div id = "description">
                    <p>
                        We are just 4 college Students trying to make watch their game shine
                    </p>
                </div>
            </div>
        </main>
    {% endblock %}
</body></html>