<html lang="en">
    {% extends "layout.html" %}
    <head>
        <title>Pandas for All</title>
    </head>
    <body>
        {% block content %}
        <main>
            <div id="welcome">
                <h1>Homepage</h1>
                <div id = "description">
                    <hr>
                   <p>There are likely fewer than 2,000 Giant Pandas in the wild!
                    Honestly, unacceptable. But there's hope! It turns out that there is a statistically significant and positive correlation between Giant Panda density and species richness.  
                   </p>
                    <h2>What does this mean for us??</h2>
                    <p>It means we can both reduce climate change and help Giant Pandas!</p>  
                     **How, you ask?**
                     <p>Great question! Biodiversity and climate are interconnected through carbon. They reinforce each other. Carbon sequestration, the removal of carbon from the atmosphere, implies it is being stored somewhere. Most commonly it is stored under the surface (in the soil) or above the surface (as biodiversity, think trees) and this could be the key to mitigating climate change.</p>
                    
                    We understand that in this day and age young folk are more inclined to learn through video games. This game is themed in a way that is interactive, fun and also integrates the learning concepts of global warming. We understand it's a big issue and we want to tackle it through this.
                    <h2>Don't you think it's exciting that through saving Giant Pandas we can also save the world???</h2>
                    
                     <p>Unfortunately, the loss of biodiversity and climate change are associated with each other. When thinking of Giant Pandas habitats, there is correlation between their habitats and population density, species richness, and the total carbon density. In plain english, more Giant Pandas habitat area is associated with more giant pandas, more species in general, and the total amount of carbon that is held by the Earth in both the ground, species, and plants/trees that is not being held in the atmosphere.  
                        
                     Each individual Giant Panda requires at least roughly 400 ha (1.5 sq miles) of habitat to thrive.</p>
                     <h2>As of 2020, nearly 1 *million* plant and animal species face extinction.</h2>
                     <p>Giant Pandas suffer from both logging and road construction, this is an issue because Giant Panda conservation regions are the most sophistocated protected systems on this planet. Giant Panda habitat fragmentation implies climate change through the loss of biodiversity since that is interconnected with climate through carbon.
                    
                     It is of our opinion that preserving the habitats (AND PANDAS) of the world will help mitigate climate change. Let's all do our part!</p>
                </div>
            </div>
        </main>
    {% endblock %}
</body></html>