<html lang="en">
    {% extends "layout.html" %}
    <head>
        <title>Info Resources</title>
    </head>
    <body>
        {% block content %}
        <main>
            <div id="welcome">
                <h1>Info Resources</h1>
                <div id = "description">
                    <hr>
                        <ul>
                            <li> <a href="https://www.census.gov/geographies/mapping-files/time-series/geo/carto-boundary-file.html">Shapefiles </li>
                            <li> <a href="https://data.nal.usda.gov/dataset/data-carbon-sequestration-and-biodiversity-co%E2%80%90benefits-preserving-forests-western-united-states"> West US carbon sequestration dataset </li>
                            <li><a href="https://www.sciencedirect.com/science/article/pii/S0048969723018053"> Do Giant Pandas help  </li>
                         <hr>
                   <hr>
                </div>
            </div>
        </main>
    {% endblock %}
</body></html>